// .homepage {
//     width: 100%;
//     height: 100vh; 
//     background: linear-gradient(to bottom, #333333, #000000); 
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
// App.scss
.homepage {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, $color-main-bg 50%, #033753 90%, #e67513);
  position: relative;
  overflow: hidden;
  color: whitesmoke;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // .cursorLight {
  //   position: absolute;
  //   width: 300px;
  //   height: 300px;
  //   background: radial-gradient(circle at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
  //   pointer-events: none;
  //   transform: translate(-50%, -50%);
  //   mix-blend-mode: soft-light;
  // }
}

.header {
  display: flex;
  justify-content: center;
  padding: $main-layout-size-unit
}

.logo {
  width: 200px;
  height: 150px;

}

.pickers-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .picker {
    display: flex;
    flex-direction: column;
    gap: $main-layout-size-unit / 2;
    align-items: center;
  }
}