.homepage {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, $color-main-bg 50%, #033753 98%, #e67513);
  position: relative;
  overflow: hidden;
  color: whitesmoke;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.header {
  display: flex;
  justify-content: center;
  padding: $main-layout-size-unit
}

.logo {
  width: 200px;
  height: 150px;

}

.pickers-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .picker {
    display: flex;
    flex-direction: column;
    gap: $main-layout-size-unit / 2;
    align-items: center;
  }
}

.start-quiz-btn {
  border: 3px dashed rgba(255, 255, 255, 0.5);
  border-radius: $border-radius-main + 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  display: inline-block; 
  margin-bottom: 3%;
  
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 25px rgba(255, 255, 255, 0.6);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 0px 30px rgba(255, 255, 255);
  }

  > a {
    all: unset;
    width: 130px;
    height: 60px;
    background: radial-gradient(circle, #326273 20%, rgba(207, 114, 33, 0.8));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-main;
    transition: inherit;
    &:active {
      transition: none;
    }
  }
}