$main-layout-size-unit: 8px;


//colors
$color-main-bg: #162c34;
$color-primary: #0000007a;
// $color-secondary: #f1c40f;
$color-accent: #cf7221;


//fonts
$font-size-medium: 16px;
$font-size-large: 18px;

//border-radius
$border-radius-main: 25px;