.fancy-container {
    display: inline-block;
    padding: $main-layout-size-unit / 2 $main-layout-size-unit;
    border-radius: $border-radius-main;
    background: radial-gradient(circle, rgba(207, 114, 33, 0.8) 0%, #326273 70%);
    border-left: 1px dashed white;
    border-right: 1px dashed white;
}