.question-box {
    position: relative;
    width: 90%;
    min-width: 400px;
    height: 80%;
    min-height: 250px;
    margin: 2%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    background-color: rgba(black, 0.6);
    grid-area: row-line-start / col-line-3 / row-line-middle / col-line-4;
    border: 6px double $color-accent;
    border-radius: $border-radius-main;
}

.question {
    position: relative;
    z-index: 2;
    overflow: auto;
    padding: 5% 10%;
    height: 100%;
    line-height: 22px;
    text-wrap: pretty;
    font-size: $font-size-large;
}

