.questionBox {
    width: 80%;
    min-width: 400px;
    height: 80%;
    min-height: 250px;
    margin: 2%;
    background-color: black;
    grid-area: row-line-start / col-line-3 / row-line-middle / col-line-4;
    border: 6px double $color-accent;
    border-radius: 25px;
}